body {
	text-align: center;
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: "semibold";
  font-style: normal;
}

br {
  content: "";
  margin: 2em;
  display: block;
  font-size: 24%;
}

p {
  color: white;
}

h1 {
  color: white;
  font-size: 30px;
}

html, body, .container {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.page-content {
  break-inside: auto;
}

input {
  background-color: black;
  color: white;
  border: solid;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: "semibold";
  font-style: normal;
}


